﻿@model PortfolioProject.Models.Profile

@{
    ViewBag.Title = "UpdateProfile";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="alert alert-info h4">Profil Bilgileri Güncelleme Sayfası</div>
<form method="post">


    <label style="display:none">Profil ID</label>
    @Html.TextBoxFor(x => x.ProfileId, new { @class = "form-control", @style = "display:none" })
    <br />

    <label>Doğum Tarihi</label>
    @Html.TextBoxFor(x => x.Birthdate, new { @class = "form-control" })
    <br />

    <label>E Mail Adresi</label>
    @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
    <br />

    <label>Telefon Numarası</label>
    @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control" })
    <br />

    <label>Github Linki</label>
    @Html.TextBoxFor(x => x.Github, new { @class = "form-control" })
    <br />

    <label>Adres</label>
    @Html.TextBoxFor(x => x.Address, new { @class = "form-control" })
    <br />

    <label>Başlık</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />

    <label>Açıklama</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />

    <label>Fotoğraf Url</label>
    @Html.TextAreaFor(x => x.ImageUrl, new { @class = "form-control" })
    <br />

    <button class="btn btn-outline-success">Profil Güncelle</button>
    <br />
    <br />
    <button onclick="/Profil/Index/" class="btn btn-outline-warning">Profil Bilgileri Sayfasına Geri Dön</button>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    

</form>