﻿@model List<PortfolioProject.Models.Testimonial>
@{
    ViewBag.Title = "TestimonialList";
    Layout = "~/Views/Admin/Index.cshtml";
    int say = 0;
}
<div class="alert alert-info h4">Referans Bilgisi Sayfası</div>

<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Ad Soyad</th>
        <th>Adres</th>
        <th>Yorum</th>
        <th>Fotoğraf Url</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        say++;

        <tr>
            <td>@say</td>
            <td>@item.NameSurname</td>
            <td>@item.Address</td>
            <td>@item.Description</td>
            <td>@item.ImageUrl</td>
            <td><a href="/Testimonial/DeleteTestimonial/@item.TestimonialId" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Testimonial/UpdateTestimonial/@item.TestimonialId" class="btn btn-outline-success">Güncelle</a></td>
        </tr>
    }
</table>

<td><a href="/Testimonial/CreateTestimonial/" class="btn btn-outline-success">Yeni Referans Ekleme</a></td>